<!DOCTYPE html>
<html>
<head>
<meta name="description" content="Biodata"/>
<meta name="Keywords" content="Biodata"/>
<meta name="authors" content="Alya"/>
<meta charset="UTF-8"/>
<title>BIODATA</title>
<link rel="stylesheet" href="styleku.css"/>
</head>
<body background="alya.jpg">
<form action="#" style="width: 1000px"class="posisi";>
	<center><h1>BIODATA</h1>
<fieldset class="h"/>
<table style="width: 980px;">
<tr>
<td rowspan="15" width="250px">
<img src="AL.jpg" width="250px" height="420px"/>
</td>
</tr>
<tr>
<td><b>Nama Lengkap</b></td>
<td>:</td>
<td>Alya Puspa Sari</td>
</tr>
<tr>
<td><b>Nama Panggilan</b></td>
<td>:</td>
<td>Alya</td>
</tr>
<tr>
<td><b>Tempat, Tanggal Lahir</b></td>
<td>:</td>
<td>Sawahlunto, 10 Juli 2001</td>
</tr>
<tr>
<td><b>Umur</b></td>
<td>:</td>
<td>18 Tahun</td>
</tr>
<tr>
<td><b>Jenis Kelamin</b></td>
<td>:</td>
<td>Perempuan</td>
</tr>
<tr>
<td><b>Gol. Darah</b></td>
<td>:</td>
<td>B</td>
</tr>
<tr>
<td><b>Agama</b></td>
<td>:</td>
<td>Islam</td>
</tr>
<tr>
<td><b>Alamat</b></td>
<td>:</td>
<td>Jl. Flamboyan II Blok I No. 1</td>
</tr>
<tr>
<td><b>Status</b></td>
<td>:</td>
<td>Belum Menikah</td>
</tr>
<tr>
<td><b>Pekerjaan</b></td>
<td>:</td>
<td>Mahasiswi</td>
</tr>
<tr>
<td><b>Kewarganegaraan</b></td>
<td>:</td>
<td>Indonesia</td>
</tr>
<tr>
<td><b>Riwayat</b></td>
<td>:</td>
<td colspan="1" align="left">
Ingin Tahu Riwayatku ? <a href="Detail.html"style="text-decoration: none;" target="_parent"><input
type="button"value="Cari tahu ? "/></a>
</td>
</tr>
</table>
</fieldset>
</form>
</body>
</html>